
<div class="topNav">
  <div class="secondNav">
  <div style="margin: 0 auto; justify-content: space-between; padding-right: 750px;">
    <a class="navbar-brand" href="#"><img src="assets/Help_center2.png" width="150" height="40"></a>
  </div>

  <div class="wrapperDiv">
    <div class="testDiv">
      <form class="testForm" role="search">
        <input type="search" value placeholder="Search How-tos and more" aria-label="search how-tos and more" autocomplete="off" class="testInput" aria-autocomplete="both" aria-haspopup="listbox" aria-expanded="false"
               role="combobox" aria-describedby="search-suggestions-instructions">

        <button type="submit" class="testButton">
          <span class="testSpan">
            <span class="innerSpan">

            </span>
          </span>
        </button>
      </form>

    </div>
  </div>
  <div style="padding-bottom: 25px"></div>
  <div class="btn-group">
    <a class="nav-link active" style="margin-top: 15px; margin-right: 25px"  aria-current="page" href="#"><img src="https://cdn2.iconfinder.com/data/icons/viiva-basic-ui/32/globe-1024.png" alt="globe" width="20" height="20"></a>
    <div class="dropdown">
      <a class="btn dropdown-toggle dropdown-toggle-split" style="margin-right: 100px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="assets/menu_button.png" alt="profile settings" width="80" height="50">
      </a>

    </div>

  </div>
    </div>
</div>







