<div>
  <h1>

  </h1>
</div>
<div class="album" class="row">
  <div class="card" class="column">
    <a target="_blank" href="https://www.airbnb.com/rooms/53742125?adults=1&category_tag=Tag%3A8144&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-04-16&check_out=2023-04-21&previous_page_section_name=1000">
      <img class="image" src="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720" alt="Beach City, Ohio"/>
    </a>
    <span style="font-weight: 450">Beach City, Ohio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; ★ 4.99</span>
    <span class="rating" style="font-weight: 320">&nbsp; Near Beach City Lake</span>
    <div style="font-weight: 320">Apr 16-21</div>
    <p><span style="font-weight: 500">$199</span> night</p>

  </div>
  <div class="card" class="column">
    <a target="_blank" href="https://www.airbnb.com/rooms/53742125?adults=1&category_tag=Tag%3A8144&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-04-16&check_out=2023-04-21&previous_page_section_name=1000">
      <img class="image" src="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720" alt="Beach City, Ohio"/>
    </a>
    <span style="font-weight: 450">Beach City, Ohio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; ★ 4.99</span>
    <span class="rating" style="font-weight: 320">&nbsp; Near Beach City Lake</span>
    <div style="font-weight: 320">Apr 16-21</div>
    <p><span style="font-weight: 500">$199</span> night</p>

  </div>
  <div class="card" class="column">
    <a target="_blank" href="https://www.airbnb.com/rooms/53742125?adults=1&category_tag=Tag%3A8144&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-04-16&check_out=2023-04-21&previous_page_section_name=1000">
      <img class="image" src="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720" alt="Beach City, Ohio"/>
    </a>
    <span style="font-weight: 450">Beach City, Ohio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; ★ 4.99</span>
    <span class="rating" style="font-weight: 320">&nbsp; Near Beach City Lake</span>
    <div style="font-weight: 320">Apr 16-21</div>
    <p><span style="font-weight: 500">$199</span> night</p>

  </div>
  <div class="card" class="column">
    <a target="_blank" href="https://www.airbnb.com/rooms/53742125?adults=1&category_tag=Tag%3A8144&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-04-16&check_out=2023-04-21&previous_page_section_name=1000">
      <img class="image" src="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720" alt="Beach City, Ohio"/>
    </a>
    <span style="font-weight: 450">Beach City, Ohio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; ★ 4.99</span>
    <span class="rating" style="font-weight: 320">&nbsp; Near Beach City Lake</span>
    <div style="font-weight: 320">Apr 16-21</div>
    <p><span style="font-weight: 500">$199</span> night</p>

  </div>
  <div class="card" class="column">
    <a target="_blank" href="https://www.airbnb.com/rooms/53742125?adults=1&category_tag=Tag%3A8144&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-04-16&check_out=2023-04-21&previous_page_section_name=1000">
      <img class="image" src="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720" alt="Beach City, Ohio"/>
    </a>
    <span style="font-weight: 450">Beach City, Ohio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; ★ 4.99</span>
    <span class="rating" style="font-weight: 320">&nbsp; Near Beach City Lake</span>
    <div style="font-weight: 320">Apr 16-21</div>
    <p><span style="font-weight: 500">$199</span> night</p>

  </div>
  <div class="card" class="column">
    <a target="_blank" href="https://www.airbnb.com/rooms/53742125?adults=1&category_tag=Tag%3A8144&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-04-16&check_out=2023-04-21&previous_page_section_name=1000">
      <img class="image" src="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720" alt="Beach City, Ohio"/>
    </a>
    <span style="font-weight: 450">Beach City, Ohio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; ★ 4.99</span>
    <span class="rating" style="font-weight: 320">&nbsp; Near Beach City Lake</span>
    <div style="font-weight: 320">Apr 16-21</div>
    <p><span style="font-weight: 500">$199</span> night</p>

  </div>

</div>
<div class="album" class="row">
  <div class="card" class="column">
    <a target="_blank" href="https://www.airbnb.com/rooms/53742125?adults=1&category_tag=Tag%3A8144&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-04-16&check_out=2023-04-21&previous_page_section_name=1000">
      <img class="image" src="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720" alt="Beach City, Ohio"/>
    </a>
    <span style="font-weight: 450">Beach City, Ohio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; ★ 4.99</span>
    <span class="rating" style="font-weight: 320">&nbsp; Near Beach City Lake</span>
    <div style="font-weight: 320">Apr 16-21</div>
    <p><span style="font-weight: 500">$199</span> night</p>
  </div>
  <div class="card" class="column">
    <a target="_blank" href="https://www.airbnb.com/rooms/53742125?adults=1&category_tag=Tag%3A8144&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-04-16&check_out=2023-04-21&previous_page_section_name=1000">
      <img class="image" src="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720" alt="Beach City, Ohio"/>
    </a>
    <span style="font-weight: 450">Beach City, Ohio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; ★ 4.99</span>
    <span class="rating" style="font-weight: 320">&nbsp; Near Beach City Lake</span>
    <div style="font-weight: 320">Apr 16-21</div>
    <p><span style="font-weight: 500">$199</span> night</p>

</div>
  <div class="card" class="column">
    <a target="_blank" href="https://www.airbnb.com/rooms/53742125?adults=1&category_tag=Tag%3A8144&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-04-16&check_out=2023-04-21&previous_page_section_name=1000">
      <img class="image" src="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720" alt="Beach City, Ohio"/>
    </a>
    <span style="font-weight: 450">Beach City, Ohio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; ★ 4.99</span>
    <span class="rating" style="font-weight: 320">&nbsp; Near Beach City Lake</span>
    <div style="font-weight: 320">Apr 16-21</div>
    <p><span style="font-weight: 500">$199</span> night</p>
</div>
  <div class="card" class="column">
    <a target="_blank" href="https://www.airbnb.com/rooms/53742125?adults=1&category_tag=Tag%3A8144&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-04-16&check_out=2023-04-21&previous_page_section_name=1000">
      <img class="image" src="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720" alt="Beach City, Ohio"/>
    </a>
    <span style="font-weight: 450">Beach City, Ohio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; ★ 4.99</span>
    <span class="rating" style="font-weight: 320">&nbsp; Near Beach City Lake</span>
    <div style="font-weight: 320">Apr 16-21</div>
    <p><span style="font-weight: 500">$199</span> night</p>
  </div>

  <div class="card" class="column">
    <a target="_blank" href="https://www.airbnb.com/rooms/53742125?adults=1&category_tag=Tag%3A8144&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-04-16&check_out=2023-04-21&previous_page_section_name=1000">
      <img class="image" src="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720" alt="Beach City, Ohio"/>
    </a>
    <span style="font-weight: 450">Beach City, Ohio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; ★ 4.99</span>
    <span class="rating" style="font-weight: 320">&nbsp; Near Beach City Lake</span>
    <div style="font-weight: 320">Apr 16-21</div>
    <p><span style="font-weight: 500">$199</span> night</p>
  </div>

  <div class="card" class="column">
    <a target="_blank" href="https://www.airbnb.com/rooms/53742125?adults=1&category_tag=Tag%3A8144&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-04-16&check_out=2023-04-21&previous_page_section_name=1000">
      <img class="image" src="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720" alt="Beach City, Ohio"/>
    </a>
    <span style="font-weight: 450">Beach City, Ohio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; ★ 4.99</span>
    <span class="rating" style="font-weight: 320">&nbsp; Near Beach City Lake</span>
    <div style="font-weight: 320">Apr 16-21</div>
    <p><span style="font-weight: 500">$199</span> night</p>
  </div>

  <div class="card" class="column">
    <a target="_blank" href="https://www.airbnb.com/rooms/53742125?adults=1&category_tag=Tag%3A8144&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-04-16&check_out=2023-04-21&previous_page_section_name=1000">
      <img class="image" src="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720" alt="Beach City, Ohio"/>
    </a>
    <span style="font-weight: 450">Beach City, Ohio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; ★ 4.99</span>
    <span class="rating" style="font-weight: 320">&nbsp; Near Beach City Lake</span>
    <div style="font-weight: 320">Apr 16-21</div>
    <p><span style="font-weight: 500">$199</span> night</p>
  </div>

  <div class="card" class="column">
    <a target="_blank" href="https://www.airbnb.com/rooms/53742125?adults=1&category_tag=Tag%3A8144&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-04-16&check_out=2023-04-21&previous_page_section_name=1000">
      <img class="image" src="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720" alt="Beach City, Ohio"/>
    </a>
    <span style="font-weight: 450">Beach City, Ohio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; ★ 4.99</span>
    <span class="rating" style="font-weight: 320">&nbsp; Near Beach City Lake</span>
    <div style="font-weight: 320">Apr 16-21</div>
    <p><span style="font-weight: 500">$199</span> night</p>
  </div>

  <div class="card" class="column">
    <a target="_blank" href="https://www.airbnb.com/rooms/53742125?adults=1&category_tag=Tag%3A8144&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-04-16&check_out=2023-04-21&previous_page_section_name=1000">
      <img class="image" src="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720" alt="Beach City, Ohio"/>
    </a>
    <span style="font-weight: 450">Beach City, Ohio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; ★ 4.99</span>
    <span class="rating" style="font-weight: 320">&nbsp; Near Beach City Lake</span>
    <div style="font-weight: 320">Apr 16-21</div>
    <p><span style="font-weight: 500">$199</span> night</p>
  </div>

  <div class="card" class="column">
    <a target="_blank" href="https://www.airbnb.com/rooms/53742125?adults=1&category_tag=Tag%3A8144&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-04-16&check_out=2023-04-21&previous_page_section_name=1000">
      <img class="image" src="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720" alt="Beach City, Ohio"/>
    </a>
    <span style="font-weight: 450">Beach City, Ohio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; ★ 4.99</span>
    <span class="rating" style="font-weight: 320">&nbsp; Near Beach City Lake</span>
    <div style="font-weight: 320">Apr 16-21</div>
    <p><span style="font-weight: 500">$199</span> night</p>
  </div>

  <div class="card" class="column">
    <a target="_blank" href="https://www.airbnb.com/rooms/53742125?adults=1&category_tag=Tag%3A8144&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-04-16&check_out=2023-04-21&previous_page_section_name=1000">
      <img class="image" src="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720" alt="Beach City, Ohio"/>
    </a>
    <span style="font-weight: 450">Beach City, Ohio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; ★ 4.99</span>
    <span class="rating" style="font-weight: 320">&nbsp; Near Beach City Lake</span>
    <div style="font-weight: 320">Apr 16-21</div>
    <p><span style="font-weight: 500">$199</span> night</p>
  </div>

  <div class="card" class="column">
    <a target="_blank" href="https://www.airbnb.com/rooms/53742125?adults=1&category_tag=Tag%3A8144&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-04-16&check_out=2023-04-21&previous_page_section_name=1000">
      <img class="image" src="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720" alt="Beach City, Ohio"/>
    </a>
    <span style="font-weight: 450">Beach City, Ohio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; ★ 4.99</span>
    <span class="rating" style="font-weight: 320">&nbsp; Near Beach City Lake</span>
    <div style="font-weight: 320">Apr 16-21</div>
    <p><span style="font-weight: 500">$199</span> night</p>
  </div>
</div>
