
.column {
  float: left;
  width: 15%;
  padding: 5px;
  margin-left: 2rem;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.album {
  max-width: 20rem;
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529 !important;
  text-align: left;
}
.card {
  display: block;
  border-radius: 0.25rem;
  margin-right: 1rem;
  margin-left: 2rem;
  flex-basis: 100%;
  text-decoration: none;
  color: #212529 !important;

}
.image {
  min-height: 20em;
  min-width: 17em;
  max-width: 25em;
  max-height: 20em;
  border-radius: 10px;
}



img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}


.image {
  min-height: 20em;
  min-width: 23em;
}

.float-right {
  margin-left: auto;
}
.flex-item {
  flex: 0 0 15rem;
  padding-right: 5rem;

  justify-content: space-evenly;
}

.location {
  font-weight: 500;
}


#img_container {
  position:relative;
  display:inline-block;
  text-align:center;
  border-radius: 10px;
  background-color:gray;
}

.boot {
  position:absolute;
  bottom:50%;
  right:50%;
  width:25px;
  height:25px;
  margin: 0px -180px 115px 0px;
  font-size: 40px;
  background-color: transparent;
  border: none;
}

