
<c-carousel>
  <c-carousel-indicators></c-carousel-indicators>
  <c-carousel-inner>
    <c-carousel-item *ngFor="let slide of slides">
      <img
        [src]="slide.src"
        alt="{{ slide.title }}"
        class="d-block w-100"
        loading="lazy" />
    </c-carousel-item>
  </c-carousel-inner>
  <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
  <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
</c-carousel>

<div class="card" class="column">
    <div id ="img_container">
    <a target="_blank" href="{{link}}">
      <img class="image" src="{{img}}" alt="{{locationalt}}"/>
    </a>
     <!-- <button class="boot">&#9825;</button>-->
    </div>
    <span class="location">{{location}} <span style="float: right"> ★ {{rating}}</span></span>
    <body class="rating" style="font-weight: 320" >Viewed {{views}} times last week</body>
    <span style="font-weight: 320">{{dates}}</span>
    <p><span style="font-weight: 500">{{price}}$</span> night</p>

  </div>


