


<div class="card" class="column">

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner, image">
      <div class="carousel-item active">

    <div id ="img_container">
    <a target="_blank" href="{{link}}">
      <img class="image" src="{{img}}" alt="{{locationalt}}"/>
    </a>
        <img class="boot" style="border: none" src="./assets/newAirbnbHeart.png">
      </div>
        <div class="carousel-item">
          <img class="image" src="{{img2}}" alt="{{locationalt}}"/>
          </div>
        <div class="carousel-item">
          <img class="image" src="{{img2}}" alt="{{locationalt}}"/>
          </div>
        </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
    </div>
     <!-- <button class="boot">&#9825;</button>-->
    </div>
    <span class="location">{{location}} <span style="float: right"> ★ {{rating}}</span></span>
    <body class="rating" style="font-weight: 320" >Viewed {{views}} times last week</body>
    <span style="font-weight: 320">{{dates}}</span>
    <p><span style="font-weight: 500">{{price}}$</span> night</p>

  </div>


