<app-top-nav-bar></app-top-nav-bar>
<app-cards [price]=310 img="https://a0.muscache.com/im/pictures/miso/Hosting-53742125/original/e1ef0c72-8faf-49f9-8232-a0189e793f71.jpeg?im_w=720"
           [rating]= 4.99  views= "2,426" dates="Apr 16-21" location="Beach City, Ohio" locationalt="Beach City, Ohio"></app-cards>
<app-cards [price]=350  [rating]=4.86  views ="68,988"  dates="Nov 3-8"  location="Abiansemal, Indonesia"
           img="https://a0.muscache.com/im/pictures/e25a9b25-fa98-4160-bfd1-039287bf38b6.jpg?im_w=720"
          img2="https://a0.muscache.com/im/pictures/412e5605-79a7-4d99-941e-697cbbc63917.jpg?im_w=720"
          img3="https://a0.muscache.com/im/pictures/773a2e4a-09af-473b-b0fe-ef76290a139a.jpg?im_w=720">  </app-cards>
<app-cards  location="Sidemen, Indonesia"  locationalt="Sidemen, Indonesia"  [price]=361 [rating]=4.86  views="32,488"  dates="Apr 20-25"
            img="https://a0.muscache.com/im/pictures/4f70b681-a792-4530-8c52-f2a8d262942d.jpg?im_w=720"></app-cards>
<app-cards  location="Kecamatan Ubud, Indonesia"  locationalt="Kecamatan Ubud, Indonesia"  [price]=301  [rating]=4.82  views= "9,007"  dates="Jul 14-19"
            img="https://a0.muscache.com/im/pictures/prohost-api/Hosting-46761225/original/11058c0d-fac8-4035-8f16-8b3abe7441cd.jpeg?im_w=720"></app-cards>
<app-cards  location="Selat,Indonesia"  locationalt="Selat, Indonesia"  [price]=244  [rating]=4.91  views="4,336"  dates="Sep 30-Oct 6"
            img="https://a0.muscache.com/im/pictures/miso/Hosting-24043648/original/425c52e1-3b95-4280-a2de-fbf9a1d3ca52.jpeg?im_w=720"></app-cards>
<app-cards  location="Cape Town, South Africa"  locationalt="Cape Town, South Africa"  [price]=93  [rating]=4.84  views="9,691"  dates="May 14-19"
            img="https://a0.muscache.com/im/pictures/7ea52b34-8177-45ab-b5ad-d1cb83b6f006.jpg?im_w=720"></app-cards>
<app-cards  location="Tampaksiring, Indonesia"  locationalt="Tampaksiring, Indonesia"  [price]=296  [rating]=4.86  views="6,134"  dates="Mar 23-28"
            img="https://a0.muscache.com/im/pictures/4a5c629b-9c92-450e-8d8f-995875798838.jpg?im_w=720"></app-cards>
<app-cards  location="Mesa County, Colorado"  locationalt="Mesa County, Colorado"  [price]=305  [rating]=4.98  views="7,106"  dates="Mar 31-Apr 5"
            img="https://a0.muscache.com/im/pictures/f192135e-4df8-4d86-9cda-8e4c72fc5d93.jpg?im_w=720"></app-cards>
<app-cards  location="Twizel, New Zealand"  locationalt="Twizel, New Zealand"  [price]=457  [rating]=5.00  views="2,977"  dates="Jun 11-16"
            img="https://a0.muscache.com/im/pictures/miso/Hosting-47771464/original/e8f6758f-1348-43f6-832a-066a90523068.jpeg?im_w=720"></app-cards>
<app-cards  location="Tulbagh, South Africa"  locationalt="Tulbagh, South Africa"  [price]=134  [rating]=4.93  views="1,914"  dates="Jul 16-21"
            img="https://a0.muscache.com/im/pictures/cbd1ae40-77b6-46c3-90bc-842eca043e5c.jpg?im_w=720"></app-cards>
<app-cards   location="San Jose Del Cabo, Mexico"  locationalt="San Jose Del Cabo, Mexico"  [price]=899  [rating]=4.97  views="2,704"  dates="May 2-8"
          img="https://a0.muscache.com/im/pictures/c96bebc7-3e49-459a-befb-89ad83af634a.jpg?im_w=720"></app-cards>
<app-cards   location="Granite Falls, Washington"  locationalt="Granite Falls, Washington"  [price]=386  [rating]=4.92  views="4,752"  dates="Aug 13-18"
             img="https://a0.muscache.com/im/pictures/miso/Hosting-30109719/original/601996fa-4df1-4978-a7fd-c56c4078a3b0.jpeg?im_w=720"></app-cards>
<app-cards   location="Hurricane, Utah"  locationalt="Hurricane, Utah"  [price]=326  [rating]=4.86  views="4,025"  dates="Apr 1-6"
             img="https://a0.muscache.com/im/pictures/deb34e7e-0b3a-4df6-94b4-7604b4bb526e.jpg?im_w=720"></app-cards>
<app-cards   location="Skykomish, Washington"  locationalt="Skykomish, Washington"  [price]= 299  [rating]=4.85  views="4,436"  dates="Mar 27-Apr 1"
             img="https://a0.muscache.com/im/pictures/d99ba571-4ea2-453d-8eb3-11459a57a038.jpg?im_w=720"></app-cards>
<app-cards   location="Uvita, Osa, Costa Rica"  locationalt="Uvita, Osa, Costa Rica"  [price]=956  [rating]=4.95  views="8,103"  dates="Apr 21-26"
             img="https://a0.muscache.com/im/pictures/f8a1418d-e234-48f4-b856-fcecd1e5b41b.jpg?im_w=720"></app-cards>
<app-cards   location="Ubud, Indonesia"  locationalt="Ubud, Indonesia"  [price]=593  [rating]=4.91  views="2,200"  dates="Mar 15-20"
             img="https://a0.muscache.com/im/pictures/f7f27c59-7306-4c43-b814-566719c057dc.jpg?im_w=720"></app-cards>
<app-cards   location="West Farmington, Ohio"  locationalt="West Farmington, Ohio"  [price]=80  [rating]=4.91  views="7,753"  dates="Feb 19-24"
             img="https://a0.muscache.com/im/pictures/773a2e4a-09af-473b-b0fe-ef76290a139a.jpg?im_w=720"></app-cards>
<app-cards   location="Huntsville, Canada"  locationalt="Huntsville, Canada"  [price]=281  [rating]=4.98  views="3,006"  dates="Mar 24-30"
             img="https://a0.muscache.com/im/pictures/miso/Hosting-44274750/original/55ea1f7b-911e-46d9-b35c-aa288d8127dc.jpeg?im_w=720"></app-cards>
<app-bottom-navbar></app-bottom-navbar>



