<p *ngIf="myInfo == undefined">Failed fetching user info</p>
<div *ngIf="myInfo != undefined">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        User: {{myInfo.FirstName}} {{myInfo.LastName}}
      </div>
      <div>
        <a href="mailto:{{myInfo.mix_id}}@mix.wvu.edu"> Mix Id: {{myInfo.mix_id}}</a>
      </div>
      <div>
        <a href="{{myInfo.GitHub}}"> GitHub: {{myInfo.GitHub}}</a>
      </div>
    </div>
  </div>
</div>
