
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/Help_center2.png" width="150" height="50"></a>
  </div>

  <div style="padding-bottom: 25px"></div>
  <div class="btn-group">
    <a class="nav-link active" style="margin-top: 15px; margin-right: 25px"  aria-current="page" href="#"><img src="https://cdn2.iconfinder.com/data/icons/viiva-basic-ui/32/globe-1024.png" alt="globe" width="20" height="20"></a>
    <div class="dropdown">
      <a class="btn dropdown-toggle dropdown-toggle-split" style="margin-right: 100px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="assets/menu_button.png" alt="profile settings" width="80" height="50">
      </a>

  </div>

  </div>

</nav>
<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="searchbar">
      <input class="search_input" type="text" style="font-size: 18px; font-weight: 550; padding-top: 5px; padding-left: 0px" placeholder="Search How-tos and more">
      <a href="#" class="search_icon"><img style="border-radius: 40px" src="assets/search.png"></a>
    </div>
  </div>


<div class="top-bar"></div>
<div class="outside-terms">

<div class="outer-box">
  <span class="txt nav-arrows">home</span>  <span> > </span> <span class="txt nav-arrows">All topics</span> <span> > </span>
  <span class="txt nav-arrows">Legal Terms</span> <span> > </span> <span class="txt nav-arrows">Terms of Service</span>
  <span> > </span>      <span class="txt nav-arrows" style="font-weight:200">Terms of Service</span>

  <div class="legal-terms">Legal terms</div>
  <div class="terms-of-service">Terms of Service</div>
  <div class="country-box d-flex flex-column">


    <p style="margin-bottom: 5px"><img src="assets/blueglove.png" style="width: 16px; height: 16px;"> If your country of residence or establishment is within the European Economic Area("<b>EEA</b>"),Switzerland or the United Kingdom, the
      <a><b><u>Terms of Service for European Users</u></b></a> apply to you.</p>
    <p>If your country or residence or stablishment is outside of the EEA, Switzerland, and the United Kingdom,
    the <b><u>Terms of Service for Non-European Users</u></b> apply to you.</p>
  </div>
<div class="terms-box">
  <h2 class="terms-heading">Terms of Service for Non-European Users</h2>
  <p class="p-margin" style="font-size: 16px;"><strong>Section 23 of these Terms contains an arbitration agreement and class
  action waiver that apply to all claims brought against airbnb in the United States. Please read them carefully.</strong></p>
  <p class="p-margin">Last Updated: January 25, 2023</p>
  <p class="p-margin">Thank you for using Airbnb!</p>
  <p class="p-margin"> These Terms of Service (“<strong>Terms</strong>”) are a binding legal agreement between you and Airbnb that govern your right to
    use the websites, applications, and other offerings from Airbnb (collectively, the “<strong>Airbnb Platform</strong>”). When used in these Terms,
    “<strong>Airbnb</strong>,” “<strong>we</strong>,” “<strong>us</strong>,” or “<strong>our</strong>” refers to the Airbnb entity set out on <a style="font-weight: 500"><u>Schedule 1</u></a> with whom you are contracting.</p>
  <p class="p-margin">The Airbnb Platform offers an online venue that enables users (“<b>Members</b>”) to publish, offer, search for, and book services. Members who
    publish and offer services are <b>“Hosts”</b> and Members who search for, book, or use services are “<b>Guests</b>.” Hosts offer accommodations (“<b>Accommodations</b>”),
    activities, excursions, and events (“<b>Experiences</b>”), and a variety of travel and other services (collectively, “<b>Host Services</b>,” and each Host Service
    offering, a “<b>Listing</b>”). You must register an account to access and use many features of the Airbnb Platform, and must keep your account information
    accurate. As the provider of the Airbnb Platform, Airbnb does not own, control, offer or manage any Listings or Host Services. Airbnb is not a party to
    the contracts entered into directly between Hosts and Guests, nor is Airbnb a real estate broker, travel agency, or insurer. Airbnb is not acting as an
    agent in any capacity for any Member, except as specified in the <u class="bold-underline">Payments Terms of Service</u> (“<b>Payment Terms</b>”). To learn more about Airbnb’s role see Section 16.</p>
  <p class="p-margin">We maintain other <u class="bold-underline">terms</u> and <u class="bold-underline">policies</u> that supplement these Terms like our <u class="bold-underline">Privacy Policy</u>,
    which describes our collection and use of personal data, and our Payments Terms, which govern any payment
    services provided to Members by the Airbnb payment entities (collectively "<b>Airbnb Payments</b>").</p>
  <p class="p-margin">If you are a Host, you are responsible for understanding and complying with all laws, rules,
    regulations and contracts with third parties that apply to your Host Services.</p>

  <h2 class="toc-heading">Table of Contents</h2>

  <p class="p-margin"><strong>Guest Terms</strong></p>
  <p class="p-margin bold-underline"><u>1. Our Mission.</u></p>
  <p class="p-margin bold-underline"><u>2. Searching and Booking on Airbnb.</u></p>
  <p class="p-margin bold-underline"><u>3. Cancellations, Travel Issues, Refunds and Booking Modifications</u></p>
  <p class="p-margin bold-underline"><u>4. Your Responsibilities and Assumption of Risk.</u></p>

  <p class="p-margin"><strong>Host Terms</strong></p>
  <p class="p-margin bold-underline"><u>5. Hosting on Airbnb.</u></p>
  <p class="p-margin bold-underline"><u>6. Managing Your Listing.</u></p>
  <p class="p-margin bold-underline"><u>7. Cancellations, Travel Issues, and Booking Modifications.</u></p>
  <p class="p-margin bold-underline"><u>8. Taxes.</u></p>

  <p class="p-margin"><strong>General Terms</strong></p>
  <p class="p-margin bold-underline"><u>9. Reviews.</u></p>
  <p class="p-margin bold-underline"><u>10. Content.</u></p>
  <p class="p-margin bold-underline"><u>11. Fees.</u></p>
  <p class="p-margin bold-underline"><u>12. Airbnb Platform Rules.</u></p>
  <p class="p-margin bold-underline"><u>13. Termination, Suspension and other Measures.</u></p>
  <p class="p-margin bold-underline"><u>14. Modification.</u></p>
  <p class="p-margin bold-underline"><u>15.Resolving Complaints and Damage Claims.</u></p>
  <p class="p-margin bold-underline"><u>16. Airbnb's Role</u></p>
  <p class="p-margin bold-underline"><u>17. Member Accounts.</u></p>
  <p class="p-margin bold-underline"><u>18. Disclaimer of Warranties.</u></p>
  <p class="p-margin bold-underline"><u>19. Limitations on Liability.</u></p>
  <p class="p-margin bold-underline"><u>20. Indemnification</u></p>
  <p class="p-margin bold-underline"><u>21. Contracting Entities</u></p>
  <p class="p-margin bold-underline"><u>22. United States Governing Law and Venue</u></p>
  <p class="p-margin bold-underline"><u>23. United States Dispute Resolution and Arbitration Agreement</u></p>
  <p class="p-margin bold-underline"><u>24. China Governing Law and Dispute Resolution</u></p>
  <p class="p-margin bold-underline"><u>25. Brazil Governing Law and Venue</u></p>
  <p class="p-margin bold-underline"><u>26. Rest of World Dispute Resolution, Venue and Forum, and Governing Law.</u></p>
  <p class="p-margin bold-underline"><u>27. Miscellaneous.</u></p>
  <p class="p-margin bold-underline"><u>Schedule 1-Contracting Entities</u></p>

  <h2 class="toc-heading">Guest Terms</h2>

  <p class="p-margin"><strong>1. Our Mission.</strong></p>
  <p class="p-margin">Our mission is to create a world where you can belong anywhere. From cabins to castles to cooking classes, browse through millions of Listings to find the ones that fit the way you like to travel.
    Learn more about a Listing by reviewing the description and photos, the Host profile, and Guest reviews. If you have questions, just message the Host.</p>

  <p class="p-margin"><strong>2. Searching and Booking on Airbnb.</strong></p>
  <p class="p-margin"><strong>2.1 Searching.</strong> You can search for Host Services by using criteria like the type of Host Service, travel destination, travel dates, and number of guests. You can also use filters to refine your search results. Search results are based on their relevance to your search and other criteria. Relevance considers factors like price, availability, Reviews, customer service and cancellation history,
    popularity, previous trips and saved Listings, Host requirements (e.g. minimum or maximum nights), and more. Learn more about search results in our <u class="bold-underline">Help Center.</u></p>
</div>
</div>
</div>
