


<nav class="navbar navbar-expand-lg bg-body-tertiary">

  <!-- Left part of top Navbar -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Airbnb_Logo_Bélo.svg"
     alt="Airbnb logo" width="100" height="50"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav" style="padding-left: 50%;">
        <button class="btn">
        <li class="nav-item" >
          <a class="nav-link active " aria-current="page" type="submit" href="#" style="padding-right: 20px">Stays</a>
        </li>
        </button>
        <button class="btn">
        <li class="nav-item ">
          <a class="nav-link active " aria-current="page" href="#" style="padding-left: 20px">Experiences</a>
        </li>
        </button>
        <button class="btn">
        <li class="nav-item ">
          <a class="nav-link active "  aria-current="page" href="#" style="padding-left: 20px">Online Experiences</a>
        </li>
        </button>
      </ul>
    </div>
    <!-- Right part of navbar -->
    <div class="btn-group">
      <a class="nav-link active" style="margin-top: 15px; margin-right: 25px"  aria-current="page" href="#">Airbnb your home</a>
      <a class="nav-link active" style="margin-top: 15px; margin-right: 25px"  aria-current="page" href="#"><img src="https://cdn2.iconfinder.com/data/icons/viiva-basic-ui/32/globe-1024.png" alt="globe" width="20" height="20"></a>
      <div class="dropdown">
      <a class="btn dropdown-toggle dropdown-toggle-split" style="margin-right: 100px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="assets/menu_button.png" alt="profile settings" width="80" height="50">
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" type="button">Signup</button>
        <button class="dropdown-item" type="button">Login</button>
        <button class="dropdown-item" type="button">Something else here</button>
      </ul>
    </div>
  </div>
  </div>
<!-- End top-right navbar -->
  <! -- AirBnB search bar -->
</nav>

<div class="bar mx-auto">
  <div class="location">
    <p>Location</p>
    <input type="text" placeholder="Where are you going?">
  </div>
  <div class="check-in">
    <p>Check in</p>
    <input type="text" placeholder="Add dates">
  </div>
  <div class="check-out">
    <p>Check out</p>
    <input type="text" placeholder="Add dates">
  </div>
  <div class="guests">
    <p>Guests</p>
    <input type="text" placeholder="Add guests">
    <span><i class="lni lni-search-alt"></i></span>
  </div>
</div>
<div style="padding-bottom: 25px"></div>
