<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <!-- Left part of top Navbar -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Airbnb_Logo_Bélo.svg"
     alt="Airbnb logo" width="100" height="50"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"  >

        <li class="nav-item" >
          <a class="nav-link active " aria-current="page" href="#">Stays</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active " aria-current="page" href="#">Experiences</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active " aria-current="page" href="#">Online Experiences</a>
        </li>
      </ul>
    </div>
    <!-- Right part of navbar -->
    <div class="btn-group">
      <a class="nav-link active" style="margin-top: 15px; margin-right: 25px"  aria-current="page" href="#">Airbnb your home</a>
      <a class="nav-link active" style="margin-top: 15px; margin-right: 25px"  aria-current="page" href="#"><img src="https://cdn2.iconfinder.com/data/icons/viiva-basic-ui/32/globe-1024.png" alt="globe" width="20" height="20"></a>
      <div class="btn-group" style="margin-top: 15px; margin-right: 15px">
        <button type="button" class="btn btn-light">Action</button>
        <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
          <li><a class="dropdown-item" href="#">Signup</a></li>
          <li><a class="dropdown-item" href="#">Login</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">AirBnB your home</a></li>
          <li><a class="dropdown-item" href="#"></a>Host an Experience</li>
          <li><a class="dropdown-item" href="#"></a>Help</li>
        </ul>
      </div>
    </div>
  </div>
<!-- End top-right navbar -->
  <! -- AirBnB search bar -->

</nav>
<!-- End of AirBnb Search Bar -->
<nav class="navbar navbar-expand-lg fixed-bottom navbar-light bg-body-tertiary">
  <!-- Start of bottom Navbar -->
  <div class="container-fluid">

    <li class="nav-link">
        <a class="navbar-brand" style="margin-left: 50px; font-size: 14px; margin-right: 10px"  href="#" >&#169; 2023 Airbnb, Inc.</a>
    </li>
    <li class="nav-link">
        <a class="nav-link " style="font-size: 14px; margin-top: 5px; margin-right: 10px" href="#">Terms</a>
    </li>
        <a class="nav-link " style="font-size: 14px; margin-top: 5px; margin-right: 10px" href="#">Sitemap</a>
    <li class="nav-link">
       <a class="nav-link " style="font-size: 14px; margin-top: 5px; margin-right: 10px" href="#">Privacy</a>
    </li>
       <a class="nav-link me-auto" style="font-size: 14px; margin-top: 5px; margin-right: 10px" href="#">Your Privacy Choices &nbsp; Destinations</a>



        <a class="nav-link active ms-1" style="margin-top: 15px; margin-right: 25px; margin-bottom: 15px"  aria-current="page" href="#"><img src="https://cdn2.iconfinder.com/data/icons/viiva-basic-ui/32/globe-1024.png" alt="globe" width="20" height="20"></a>


         <a class="nav-link " style="font-size: 14px; font-weight: 500; margin-right: 20px" href="#">English (US)</a>


        <a class="nav-link" style="font-size: 14px; font-weight: 500; margin-right: 20px" href="#">$ &nbsp; USD</a>


        <a class="nav-link " style="font-size: 14px; font-weight: 500; margin-right 50px" href="#">Support & resources</a>

  </div>
  <!-- End of bottom NavBar -->

</nav>
<div class="bar mx-auto" style="font-size: 12px; font-weight: 550">
  <div class="location">
    <p>Location</p>
    <input type="text" placeholder="Where are you going?">
  </div>
  <div class="check-in">
    <p>Check in</p>
    <input type="text" placeholder="Add dates">
  </div>
  <div class="check-out">
    <p>Check out</p>
    <input type="text" placeholder="Add dates">
  </div>
  <div class="guests">
    <p>Who</p>
    <input type="text" placeholder="Add guests">
    <span><i class="lni lni-search-alt"></i></span>
  </div>
</div>
