<app-privacy-navbar></app-privacy-navbar>
<div class="div1">
  <div class="div2">
    <nav class="nav1">
      <ol class="ol1" style>
        <li class="li1 txt" style="display: inline;">Home    </li>
        <li class="li1" style="display: inline;">   >   </li>
        <li class="li1 txt" style="display: inline;">All Topics </li>
        <li class="li1" style="display: inline;">   >   </li>
        <li class="li1 txt" style="display: inline;">Legal Terms </li>
        <li class="li1" style="display: inline;">   >   </li>
        <li class="li1 txt" style="display: inline;">Privacy Policy </li>
        <li class="li1" style="display: inline;">   >   </li>
        <li class="li1 txt"  style="display: inline; font-weight: 350;">  Airbnb Privacy </li>
      </ol>
    </nav>

    <div class="div3">
      <div class="div4">
        <div class="div5">
          <div class="div6">
          <div class="divLegal">
            <div class="legalTerms">
              Legal Terms
            </div>
           </div>
          <section>
            <div class="divPrivacy">
            Airbnb Privacy
            </div>
            <div class="divSection1">
              <div>
                <div class="sectionImg">
                  <div class="imgActual"><img style="width: 632px; height: 420.92px;" src="./assets/airbnb-privacy.jpeg" alt="privacyPhoto"></div>
                </div>
              </div>
            </div>
            <div class="divSection2">
              <div>
                <h2 class="heading2">Privacy Policy</h2>
                <p>Our Privacy Policy explains what personal information we collect, how we use personal information, how personal information is shared, and privacy rights.</p>
              </div>
            </div>
            <div class="divSection3">
              <div>
                <h3 class="heading3">North America (Excluding Mexico)</h3>
                <ul style="box-sizing: border-box">
                  <li style="margin-bottom: 16px">
                    <a class="aLink" data-no-client-routing href="https://www.airbnb.com/help/article/3176">Privacy Policy for the United States</a>
                  </li>
                  <li style="margin-bottom: 16px">
                    <a class="aLink" data-no-client-routing href="https://www.airbnb.ca/help/article/3176">Privacy Policy for Outside the U.S. (English)</a>
                  </li>
                  <li style="margin-bottom: 16px">
                    <a class="aLink" data-no-client-routing href="https://www.airbnb.ca/help/article/3176">Privacy Policy for Outside the U.S. (French)</a>
                </ul>
              </div>
            </div>
            <div class="divSection4">
              <div>
                <h4 class="heading4">Latin America (Including Mexico, Central and South America, and the Caribbean)</h4>
                <ul style="box-sizing: border-box">
                  <li style="margin-bottom: 16px">
                    <a class="aLink" data-no-client-routing href="https://www.airbnb.com/help/article/3176">Privacy Policy for Latin America (English)</a>
                  </li>
                  <li style="margin-bottom: 16px">
                    <a class="aLink" data-no-client-routing href="https://www.airbnb.ca/help/article/3176">Privacy Policy for Latin America (Spanish)</a>
                  </li>
                  <li style="margin-bottom: 16px">
                    <a class="aLink" data-no-client-routing href="https://www.airbnb.ca/help/article/3176">Privacy Policy for Latin America (Portuguese)</a>
                </ul>
              </div>
            </div>
            <div class="divSection5">
              <div>
                <h4 class="heading4">Europe, Middle East, and Africa</h4>
                <ul>
                  <li style="margin-bottom: 16px">
                    <a class="aLink" data-no-client-routing href="https://www.airbnb.com/help/article/3176">Privacy Policy for Europe, the Middle East, Africa, and Other Countries</a>
                </ul>
              </div>
            </div>
            <div class="divSection6">
              <div>
                <h4 class="heading4">Asia Pacific</h4>
                <ul>
                  <li style="margin-bottom: 16px">
                    <a class="aLink" data-no-client-routing href="https://www.airbnb.com/help/article/3176">Privacy Policy for Asia Pacific (Excluding China)</a>
                </ul>
              </div>
            </div>
            <div class="divSection6">
              <div>
                <h4 class="heading4">China</h4>
                <ul>
                  <li style="margin-bottom: 16px">
                    <a class="aLink" data-no-client-routing href="https://www.airbnb.com/help/article/3176">Privacy Policy for China</a>
                </ul>
              </div>
            </div>
            <div class="divSection6">
              <div>
                <p style=" margin: 8px 0 16px">Please review the supplemental privacy policies linked within the privacy policy documents, such as for certain Airbnb services, that may be applicable to you.</p>
                <p style="margin: 8px 0 16px"><strong>Supplemental Privacy Policy Documents</strong><br></p>
                <ul class="privDoc">
                  <li style="margin: 16px">
                    <a class="aLink">Outside the United States</a>
                  </li>
                  <li style="margin: 16px">
                    <a class="aLink">California, Colorado, Connecticut, Utah, Vermont, and Virginia</a>
                  </li>
                  <li style="margin: 16px">
                    <a class="aLink">Cookie Policy</a>
                  </li>
                  <li style="margin: 16px">
                    <a class="aLink">Enterprise Customers and Airbnb for Work</a>
                  </li>
                  <li style="margin: 16px">
                    <a class="aLink">Colombia Only</a>
                  </li>
                  <li style="margin: 16px">
                    <a class="aLink">Non-User DAC7 Privacy Notice</a>
                  </li>
                </ul>
              </div>
            </div>
            <section style="box-sizing: border-box">
              <h2 class="relatedHeading">Related articles</h2>
              <ul class="relatedUL">
                <li class="relatedLI">
                  <a class="newLink" aria-label="Privacy Policy" href="#">
                    <div class="divLink1">Privacy Policy</div>
                    <div class="divLink2">Please review our Privacy Policy.</div>
                  </a>
                </li>
                <li class="relatedLI">
                  <a class="newLink" aria-label="Privacy Policy for the United States" href="#">
                    <div class="divLink1">Privacy Policy for the United States</div>
                    <div class="divLink2">Please review our Privacy Policy.</div>
                  </a>
                </li>
                <li class="relatedLI">
                  <a class="newLink" aria-label="Veriying your Identity" href="#">
                    <div style="margin-bottom: 8px">
                      <div style="display: flex; flex-direction: row;">
                        <div style="color: #717171; font-size: 14px; line-height: 18px; font-weight: 600">Airbnb basics</div>
                      </div>
                    </div>
                    <div>
                    <div class="divLink1">Verifying your identity</div>
                    <div class="divLink2">Your security is important to us. Check out the steps we take to not only verify your identity, but to keep it safe.</div>
                    </div>
                  </a>
                </li>
              </ul>
            </section>
          </section>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
